<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <h2><%= @stock.name %></h2>
      <p><%= @stock.description %></p>
    </div>

  </body>
</html>
