
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12 text-format">
                    <form id="login-form" class="text-format" action="/login" method="post">
                        <h3 class="text-format">Welcome to Dividend Tracker!</h3>
                        <h4 class="text-center text-format">Please sign in with your email and password!</h4>
                        <div class="form-group">
                            <label for="username" class="">Email:</label><br>
                            <input type="text" name="email" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" id="loginBtn" name="submit" class="btn btn-info btn-md" value="Login">
                        </div>
                        <div id="register-link" class="text-right">
                            <a href="/signup" class="">Register here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
