<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Your Portfolio:</h2>
    <div class="">
      <table>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Shares</th>
        </tr>
        <% @stocks.each do |stock| %>
        <tr>
          <td><%= stock.symbol %></td>
          <td><%= stock.name %></td>
          <td><%= stock.shares %></td>
          <td><form class="" action="" method="post">
            <input type="submit" name="edit" value="Edit Shares">
          </form></td>
        </tr>
        <% end %>
      </table>
    </div>

  </body>
</html>
