<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="Login">
      <h2>Welcome to Dividend Tracker</h2>
      <label for="">Please sign in with a email and password.</label>
      <form class="" action="/login" method="post">
        <label for="">Email: <input type="text" name="email" value=""></label>
        <label for="">Password: <input type="text" name="password" value=""></label>
        <div class="">
          <input type="submit" name="" value="Login">
          <a href="/signup">Don't have a account?</a>
          <a href="/resetpass">Forgot your password?</a>
        </div>
      </form>
    </div>

  </body>
</html>
