<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Please enter the ticker of the stock you want to add:</h2>
    <div class="">
      <form class="" action="/stocks" method="post">
        <p>Ticker: <input type="text" name="ticker" value=""></p>
        <input type="submit" name="" value="Add Stock">
      </form>
    </div>
  </body>
</html>
