<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="signup">
      <h2>Sign Up:</h2>
      <label for="">Please sign in with a email and password.</label>
      <form class="" action="/signup" method="post">
        <label for="">Email: <input type="text" name="email" value=""></label>
        <label for="">Password: <input type="password" name="password" value=""></label>
        <div class="">
          <input type="submit" name="" value="Sign Up">
          <a href="/login">Back to login</a>
        </div>
      </form>
    </div>

  </body>
</html>
