<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script type="text/javascript">
      function myFunction() {
  var x = document.getElementById("popForm");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
    </script>

    <button type="button" name="button" onclick="myFunction()">Click Me</button>

    <form class="" action="index.html" method="post" id="popForm" style="display:none">
      <input type="text" name="" value="">
      <input type="submit" name="" value="enter">

    </form>

  </body>
</html>
